extends ../template/template.pug

block title
	| Game Of Life

block controls1
	div(class="controls__std-button")
		| Ш:
	div(class="controls__std-button controls__std-button_big")
		input(type="number", value="5", min="5", max="80")
	div(class="controls__std-button")
		| В:
	div(class="controls__std-button controls__std-button_big")
		input(type="number", value="5", min="5", max="80")

block controls2
	div(class="controls__std-button")
		| Скорость:
	div(class="controls__std-button controls__std-button_big")
		div(id="slider1")
	div(class="controls__std-button")
		| Поколение:
	div(class="controls__std-button controls__std-button_big")
		input(type="text", value="1")

block controls3
	div(class="controls__std-button")
		button(class="std-button std-button_color_green", onclick="location.href='index.html'") СОЗДАТЬ
	div(class="controls__std-button")
		button(class="std-button std-button_color_red", onclick="location.href='about.html'") СТЕРЕТЬ
	div(class="controls__std-button")
		button(class="std-button std-button_color_green", onclick="location.href='portfolio.html'") СТАРТ
	div(class="controls__std-button")
		button(class="std-button std-button_color_red", onclick="location.href='contacts.html'") СТОП

block content
	h1(class="main__text") Вселенная.
	