.universe__square
	width 8px
	height 8px
	border 1px solid #EEE

.universe__square_isDead
	background #FFFFFF

.universe__square_isAlive
	background #24CC08

#universe
	border-spacing 0
	margin 0 auto
	background #FFFFFF