extends ../template/template.pug

block title
	| Game Of Life

block controls1
	div(class="controls__std-button")
		| Высота:
	div(class="controls__std-button controls__std-button_big")
		input(type="number", value="40", min="5", max="80", id = "field-height")
	div(class="controls__std-button")
		| Ширина:
	div(class="controls__std-button controls__std-button_big")
		input(type="number", value="40", min="5", max="80", id = "field-width")

block controls2
	div(class="controls__std-button")
		| Скорость:
	div(class="controls__std-button controls__std-button_big")
		div(id="slider1")
	div(class="controls__std-button")
		| Поколение:
	div(class="controls__std-button controls__std-button_big")
		input(type="text", value="1", id = "generation")

block controls3
	div(class="controls__std-button")
		button(class="std-button std-button_color_green", id = "create-universe") СОЗДАТЬ
	div(class="controls__std-button")
		button(class="std-button std-button_color_red", id = "clear-universe") СТЕРЕТЬ
	div(class="controls__std-button")
		button(class="std-button std-button_color_green", id = "start-game") СТАРТ
	div(class="controls__std-button")
		button(class="std-button std-button_color_red", id = "stop-game") СТОП
	div(class="controls__std-button")
		button(class="std-button std-button_color_red", id = "tick") 1 ШАГ

block content
