.field
  display table
  background #FFFFFF

  &__line
    display table-row

  &__cell
    display table-cell
    width 0.5rem
    height 0.5rem
    border 0.0625rem solid #EEEEEE

    &_dead
      background #FFFFFF

    &_alive
        background #24CC08