/* pages*/
@import 'main-header/main-header.styl'
@import 'main-footer/main-footer.styl'
@import 'main/main.styl'

/* blocks*/
@import '../blocks/std-button/std-button.styl'
@import '../blocks/slider1/slider1.styl'

.main
	font-size 18px
	background #111111
	&__page
		width 100%
		margin 0
		background #FFFFFF
		color #FFFFFF

.page__controls
	width 100%
	height 40px
	text-align center
	background #111111
	padding-bottom 20px

.page__article
	width 100%
	background #FFFFFF

.page__content
	display inline-block
	width 100%
	padding-top 20px

.page__content-left-block
	display inline-block
	width 0%

.page__content-right-block
	display inline-block
	width 0%

.controls__std-button
	margin 0 12px
	display inline-block

.controls__std-button_small
	width 100px

.controls__std-button_big
	width 157px