/* pages*/
.page__header {
  width: 95%;
  min-height: 130px;
  margin: 0;
  padding: 10px 0 0 5%;
  border: none;
  background: #111;
  color: #fff;
}
.header__title {
  font-size: 2rem;
  font-weight: bold;
  float: left;
  line-height: 0rem;
  margin-left: 13.5%;
}
.header__positioner-1 {
  position: relative;
  width: 266px;
  margin: 30px 0 0 0;
  float: left;
}
.page__footer {
  background: #fff;
  color: #111;
  text-align: center;
  font-weight: bold;
  border-top: 2px solid #111;
  width: 100%;
  height: 80px;
  padding-top: 20px;
}
.universe__square {
  width: 8px;
  height: 8px;
}
.universe__square_isDead {
  background: #fff;
}
.universe__square_isAlive {
  background: #24cc08;
}
#universe {
  border-spacing: 1;
  margin: 0 auto;
  background: #fff;
}
/* blocks*/
.std-button {
  width: 118px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  font-family: 'Lato', Sans-Serif;
  font-weight: bold;
}
.std-button_inactive-green {
  color: #4eb7a8;
  background: #fff;
  border: 1px solid #4eb7a8;
  border-bottom: 4px solid #4eb7a8;
}
.std-button_inactive-red {
  color: #e75735;
  background: #fff;
  border: 1px solid #e75735;
  border-bottom: 4px solid #e75735;
}
.std-button_color_green {
  background: #4eb7a8;
  border-bottom: 4px solid #28a290;
}
.std-button_color_red {
  background: #e75735;
  border-bottom: 4px solid #bf3f1f;
}
.std-button_ripple-eff {
  height: 32px;
  position: relative;
  overflow: hidden;
  border: none;
}
.std-button_ripple-eff:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255,255,255,0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}
.std-button_ripple-eff:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
.std-button_size_small {
  width: 78px;
  height: 22px;
  font-size: 0.48rem;
  letter-spacing: 0.08rem;
  font-weight: bold;
}
.std-button_theme_events {
  display: block;
  background: #fff;
  color: #4eb7a8;
  font-size: 0.6rem;
  letter-spacing: 0.03rem;
  width: 128px;
  height: 25px;
  margin: 19px 9px 24px;
}
.std-button_theme_chat {
  display: block;
  font-family: 'Lato', Sans-Serif;
  width: 244px;
  height: 35px;
  margin: 15px auto;
}
@-moz-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@-webkit-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@-o-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
.sliderValue {
  position: absolute;
  left: -9px;
  bottom: 28px;
  width: 35px;
  height: 24px;
  background: #e75735;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.sliderValue_2 {
  border: 5px solid transparent;
  border-top: 5px solid #e75735;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -9px;
}
.main {
  font-size: 18px;
  background: #111;
}
.main__page {
  width: 100%;
  margin: 0;
  background: #fff;
  color: #4f4f4f;
}
.page__controls {
  width: 100%;
  height: 40px;
  text-align: center;
  background: #111;
  padding-bottom: 20px;
}
.page__article {
  width: 100%;
  background: #fff;
}
.page__content {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}
.page__content-left-block {
  display: inline-block;
  width: 0%;
}
.page__content-right-block {
  display: inline-block;
  width: 0%;
}
.controls__std-button {
  margin: 0 12px;
  display: inline-block;
}
.controls__std-button_small {
  width: 100px;
}
.controls__std-button_big {
  width: 157px;
}
.sliderValue {
  position: absolute;
  left: -9px;
  bottom: 28px;
  width: 35px;
  height: 24px;
  background: #e75735;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.sliderValue_2 {
  border: 5px solid transparent;
  border-top: 5px solid #e75735;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -9px;
}
