/* blocks*/
.std-button {
  width: 118px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  font-family: 'Lato', Sans-Serif;
  font-weight: bold;
}
.std-button_inactive-green {
  color: #4eb7a8;
  background: #fff;
  border: 1px solid #4eb7a8;
  border-bottom: 4px solid #4eb7a8;
}
.std-button_inactive-red {
  color: #e75735;
  background: #fff;
  border: 1px solid #e75735;
  border-bottom: 4px solid #e75735;
}
.std-button_color_green {
  background: #4eb7a8;
  border-bottom: 4px solid #28a290;
}
.std-button_color_red {
  background: #e75735;
  border-bottom: 4px solid #bf3f1f;
}
.std-button_ripple-eff {
  height: 32px;
  position: relative;
  overflow: hidden;
  border: none;
}
.std-button_ripple-eff:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255,255,255,0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}
.std-button_ripple-eff:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
.std-button_size_small {
  width: 78px;
  height: 22px;
  font-size: 0.48rem;
  letter-spacing: 0.08rem;
  font-weight: bold;
}
.std-button_theme_events {
  display: block;
  background: #fff;
  color: #4eb7a8;
  font-size: 0.6rem;
  letter-spacing: 0.03rem;
  width: 128px;
  height: 25px;
  margin: 19px 9px 24px;
}
.std-button_theme_chat {
  display: block;
  font-family: 'Lato', Sans-Serif;
  width: 244px;
  height: 35px;
  margin: 15px auto;
}
@-moz-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@-webkit-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@-o-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
.slider-value {
  position: absolute;
  left: -9px;
  bottom: 28px;
  width: 35px;
  height: 24px;
  background: #e75735;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.slider-value__tail {
  border: 5px solid transparent;
  border-top: 5px solid #e75735;
  position: absolute;
  left: 5px;
  top: -9px;
}
.main {
  font-size: 18px;
  background: #111;
  height: 100%;
}
.main__page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  background: #fff;
  color: #fff;
}
.page__controls {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  background: #111;
}
.page__article {
  flex: 1 0 auto;
  width: 100%;
  background: #fff;
}
.page__content {
  width: 100%;
}
.controls__std-button {
  margin: 10px;
}
.controls__std-button_small {
  width: 100px;
}
.controls__std-button_big {
  width: 157px;
}
.page__header {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: #111;
  color: #fff;
}
.header__title {
  font-size: 2rem;
  font-weight: bold;
}
.page__footer {
  flex: 0 0 auto;
  background: #fff;
  color: #111;
  text-align: center;
  font-weight: bold;
  border-top: 2px solid #111;
  width: 100%;
  padding: 20px 0;
}
.universe {
  display: table;
  margin: 0 auto;
  background: #fff;
}
.universe__line {
  display: table-row;
}
.universe__square {
  display: table-cell;
  width: 8px;
  height: 8px;
  border: 1px solid #eee;
}
.universe__square_isDead {
  background: #fff;
}
.universe__square_isAlive {
  background: #24cc08;
}
