/* blocks*/
.std-button {
  width: 7.375rem;
  height: 2.1875rem;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 0.25rem;
  font-family: 'Lato', Sans-Serif;
  font-weight: bold;
  text-transform: uppercase;
}
.std-button_inactive-green {
  color: #4eb7a8;
  background: #fff;
  border: 0.0625rem solid #4eb7a8;
  border-bottom: 0.25rem solid #4eb7a8;
}
.std-button_inactive-red {
  color: #e75735;
  background: #fff;
  border: 0.0625rem solid #e75735;
  border-bottom: 0.25rem solid #e75735;
}
.std-button_color_green {
  background: #4eb7a8;
  border-bottom: 0.25rem solid #28a290;
}
.std-button_color_red {
  background: #e75735;
  border-bottom: 0.25rem solid #bf3f1f;
}
.slider-value {
  position: absolute;
  left: -9px;
  bottom: 28px;
  width: 35px;
  height: 24px;
  background: #e75735;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.slider-value__tail {
  border: 5px solid transparent;
  border-top: 5px solid #e75735;
  position: absolute;
  left: 5px;
  top: -9px;
}
.main {
  font-size: 16px;
  font-family: 'Times New Roman', Georgia, Serif;
  background: #111;
  color: #fff;
  height: 100%;
}
.main__page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  background: #fff;
}
.page__controls {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  background: #111;
}
.page__article {
  flex: 1 0 auto;
  width: 100%;
  background: #fff;
}
.page__content {
  width: 100%;
}
.controls__std-button {
  margin: 0.625rem;
}
.controls__std-button_small {
  width: 6.25rem;
}
.controls__std-button_big {
  width: 9.8125rem;
}
.page__header {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: #111;
  color: #fff;
}
.header__title {
  font-size: 2rem;
  font-weight: bold;
}
.page__footer {
  flex: 0 0 auto;
  background: #fff;
  color: #111;
  text-align: center;
  font-weight: bold;
  border-top: 0.125rem solid #111;
  width: 100%;
  padding: 1.25rem 0;
}
.universe {
  display: table;
  margin: 0 auto;
  background: #fff;
}
.universe__line {
  display: table-row;
}
.universe__square {
  display: table-cell;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.0625rem solid #eee;
}
.universe__square_isDead {
  background: #fff;
}
.universe__square_isAlive {
  background: #24cc08;
}
