include ../standard-button/standard-button.pug

mixin popup-message()
    .popup-message.js-popup-message
        .popup-message__content.js-popup-message__content
            .popup-message__text.js-popup-message__text
            .popup-message__button.js-popup-message__button
                +standard-button({text:"закрыть", color:"red"})