html
    head
        meta(charset = "utf-8")/
        meta(name = "description", content = "Test Game Of Lif")/
        meta(name = "keywords", content = "Life Conway test")/
        meta(name = "author", content = "Sergey Karbyshev")/
        meta(name = "viewport", content = "initial-scale=1.0, width=device-width")/
        link(rel = "shortcut icon", href = "./public/images/favicon.ico", type = "image/x-icon")/
        link(href="./vendors/jquery-ui-1.12.1.custom/jquery-ui-forFlatUI.css", rel="stylesheet")/
        script(src="./vendors/jquery-ui-1.12.1.custom/external/jquery/jquery.js")
        script(src="./vendors/jquery-ui-1.12.1.custom/jquery-ui.js")
        script(src="./vendors/sinon/sinon.js")
        link(rel="stylesheet", href="./vendors/mocha/mocha.css")
        script(src="./vendors/mocha/mocha.js")
        script mocha.setup('bdd');
        script(src="./vendors/chai/chai.js")
        script var assert = chai.assert;
        title Test GoL
body