.std-button
  width 7.375rem
  height 2.1875rem
  border none
  cursor pointer
  color #FFFFFF
  border-radius 0.25rem
  font-family 'Lato', Sans-Serif
  font-weight bold
  text-transform uppercase
  &_inactive-green
    color #4EB7A8
    background #FFFFFF
    border 0.0625rem solid #4EB7A8
    border-bottom 0.25rem solid #4EB7A8
  &_inactive-red
    color #E75735
    background #FFFFFF
    border 0.0625rem solid #E75735
    border-bottom 0.25rem solid #E75735
  &_color_green
    background #4EB7A8
    border-bottom 0.25rem solid #28A290
  &_color_red
    background #E75735
    border-bottom 0.25rem solid #BF3F1F