include blocks/wrap/wrap.pug

doctype html
html
    head
        meta(charset = "utf-8")/
        meta(name = "description", content = "Game Of Life by John Conway")/
        meta(name = "keywords", content = "Life Conway")/
        meta(name = "author", content = "Sergey Karbyshev")/
        meta(name = "viewport", content = "initial-scale=1.0, width=device-width")/
        link(rel = "shortcut icon", href = require("./images/favicon.ico"), type = "image/x-icon")/
        title Game Of Life
    body
        +wrap()