/* blocks*/
@import './blocks/std-button/std-button.styl'
@import './blocks/slider1/slider1.styl'

.main
  font-size 16px
  font-family 'Times New Roman', Georgia, Serif
  background #111111
  color #FFFFFF
  height 100%
  &__page
    display flex
    flex-direction column
    height 100%
    width 100%
    margin 0
    background #FFFFFF

.page__controls
  flex 0 0 auto
  display flex
  flex-wrap wrap
  justify-content center
  width 100%
  padding-top 25px
  background #111111

.page__article
  flex 1 0 auto
  width 100%
  background #FFFFFF

.page__content
  width 100%

.controls__std-button
  margin 0.625rem

.controls__std-button_small
  width 6.25rem

.controls__std-button_big
  width 9.8125rem

.page__header
  flex 0 0 auto
  display flex
  flex-wrap wrap
  justify-content center
  width 100%
  background #111111
  color #FFFFFF

.header__title
  font-size 2rem
  font-weight bold

.page__footer
  flex 0 0 auto
  background #FFFFFF
  color #111111
  text-align center
  font-weight bold
  border-top 0.125rem solid #111111
  width 100%
  padding 1.25rem 0

.universe
  display table
  margin 0 auto
  background #FFFFFF

.universe__line
  display table-row

.universe__square
  display table-cell
  width 0.5rem
  height 0.5rem
  border 0.0625rem solid #EEEEEE

.universe__square_isDead
  background #FFFFFF

.universe__square_isAlive
  background #24CC08